{% extends 'blog/base.html' %}

{% block content %}
<div class="background">
<br>
<h2 id="thanks">Thank you for visiting my blog !!!</h2><br>
<h4 class="about"> I have been working as python developer for last three years. </h4>

<h4 class="about">Sole Purpose behind starting this blog is to connect with all cool python developers.</h4>
<h4 class="about">We all can share new ideas on this blog.</h4><br>
<h4 class="about">Join us to know cool stuff about Python language.</h4>
    </div>

{% endblock %}
